@charset "utf-8";

/* datePicker */
.datePicker span,
.datePicker strong {transition:0s all linear;} 

.datePicker {width:100%; overflow:hidden;}
.datePicker .wrap {width:100%; padding:15px; border:1px solid #ddd;}
.datePicker .btnWrap {display:none;}
.datePicker .close{position:absolute;top:15px;right:30px; display:block;height:12px;background-size:12px;}
.datePicker .box{border:1px solid #999;background:#fff}
.datePicker .head{position:relative; height:44px;margin:0 auto;padding-top:0; text-align:center; font-weight:bold;font-size:17px;line-height:44px}
.datePicker .head span{position:absolute;width:40px;height:40px;top:2px; background:url(/img/common/sp.png) no-repeat; overflow:hidden; text-indent:-9999px;}
.datePicker .head span.prev {left:0; background-position:-80px 0; cursor:pointer;}
.datePicker .head span.next {right:0; background-position:-120px 0; cursor:pointer;}
.datePicker .head h5 {display:inline-block; text-align:center; font-size:15px; padding:0; line-height:20px;}
.datePicker .calendar {width:100%; margin:0 auto; clear:both; height:210px; overflow:hidden;}
.datePicker .calendar div.week {background:#f9f9f9; height:29px; line-height:29px; font-size:12px; border-right:2px solid #fff;}
.datePicker .calendar div {width:14.2%; cursor:pointer; float:left; height:30px; line-height:30px; text-align:center;}
.datePicker .calendar div span {display:block; width:30px; height:30px; line-height:30px; margin:5px auto;}
.datePicker .calendar div span:hover {background-color:#eee;}
.datePicker .calendar div span.today {background-color:#cfe2f9; color:#fff;}
.datePicker .calendar div span strong {font-weight:normal;}
.datePicker .calendar div span.off {color:#ccc;}
.datePicker .calendar div span.off:hover {background-color:#fff;}
.datePicker .calendar div span.on {font-weight:bold; background-color:#777; color:#fff; border-radius:100%;}
.datePicker .calendar div span.on:hover {background-color:#777;}
.datePicker .calendar div:nth-child(7n) {color:blue;}
.datePicker .calendar div:nth-child(7n + 1) {color:red;}