@charset "utf-8";

#reservation_wrap {/* width:800px; */ padding-top:30px; border:0; margin:0 auto; overflow:hidden;}
#reservation_wrap iframe {width:100%; border:0; height:1120px; overflow:hidden;}

@media screen and (max-width:970px) {
    #reservation_wrap {width:100%;}
}